
html, body {
    height: 100%;
    margin: 0px;
}


.container {
    min-height: 100%;
    /* background: linear-gradient(45deg, grey, white, grey); */
    background-color: rgb(127, 126, 126);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    color: white;
}

h1 {
    text-decoration: underline;
}

.inputButtonContainer {
    display: flex;
    flex-direction: row;
    column-count: 2;
    justify-content: center;
}

.inputButton {
    margin: 10px;
    padding: 8px;
    font-size: x-large;
    border-radius: 25%;
    border: solid 3px white;
    background-color:black;
    color: white;
}

.inputButton:active {
    font-size: xx-large;
    background-color: grey;
}

#proteinRange {
    margin-bottom: 23px;
    width: 65%;
}

label {
    font-size: large;
}

.proteinSlideContainer {
    width: 80%;
}

.output {
    margin-bottom: 3px;
}

footer {
    margin-top: 40px;
}

a {
    margin: 5px;
    border: 1px solid white;
    padding: 4px;
    background-color: gray;
    border-radius: 25%;
}