
html, body {
    height: 100%;
    margin: 0px;
}


.container {
    min-height: 100%;
    background: linear-gradient(45deg, cyan, white, cyan);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}

.inputButtonContainer {
    display: flex;
    flex-direction: row;
    column-count: 2;
}

.inputButton {
    margin: 10px;
    padding: 8px;
    font-size: x-large;
    border-radius: 25%;
    border: solid 1px black;
    background-color:cadetblue;
}

.inputButton:active {
    font-size: xx-large;
    background-color: lightcyan;
}

#proteinRange {
    margin-bottom: 23px;
    width: 65%;
}

label {
    font-size: large;
}